@tailwind base;
@tailwind components;
@tailwind utilities;

/* Circle.css */
@keyframes dash-shining {
    0% {
      border: 10px dashed rgba(59, 130, 246, 0.8);
    }
    50% {
      border: 10px dashed rgba(17, 0, 255, 0.8);
    }
    100% {
      border: 10px dashed rgba(59, 130, 246, 0.8);
    }
  }
  
  @keyframes point-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .dashed-shining-point-spin {
    animation: dash-shining 2s infinite;
  }

.my-shadow{
  box-shadow: 0 1px 80px -30px rgb(255, 255, 255);
}

.view-height{
  height:calc(100% - 300px)
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
  